* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #424242;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  padding: 16px 24px;

  background: red;

  /* flex */
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  align-items: center;
}

/* .header-logo {
  margin: auto 0;
} */

.header-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 40px;
  border: 0;
  border-radius: 3px;
  padding: 0 16px;

  /* text */
  font-size: 15px;
  color: #212121;
  font-weight: bold;
}

.header-button img {
  margin-right: 10px;
}

.header-nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-button {
    display: none;
  }

  .header-nav {
    display: block;
    margin-left: auto;
  }

  .header-nav ul {
    display: flex;
    list-style: none;
  }

  .header-nav li:not(:last-child) {
    margin-right: 32px;
  }

  .header-nav a {
    text-decoration: none;
    color: #212121;
    font-size: 16px;
    font-weight: bold;
  }
}

/* Footer */
.rodape {
  color: #fff;
  background: #212121;
}

.rodape a {
  color: #fff;
}

.rodape-container {
  padding: 32px 24px;
}

.rodape-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  border-bottom: 1px solid #fff;
}

.rodape-links li {
  width: 50%;
  margin-bottom: 32px;
}

.rodape-links a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.rodape-box {
  text-align: center;
}

.rodape-copyright {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .rodape-container {
    padding: 60px 24px;
  }

  .rodape-links {
    margin-bottom: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
  }

  .rodape-links li {
    width: auto;
    margin-bottom: 0;
  }

  .rodape-box {
    display: flex;
    align-items: flex-end;
  }

  .rodape-copyright,
  .rodape-privacy {
    width: 50%;
  }

  .rodape-copyright {
    text-align: left;
    margin-bottom: 0;
  }

  .rodape-privacy {
    text-align: right;
  }
}
